- Instance:   {{color ",,bold"}}{{.instance_name}}{{color "reset"}}
  Users:      {{.users}}
  Statuses:   {{.statuses}}
  Open:       {{.openRegistrations}}
  Up:         {{.up}}
  Timestamp:  {{.date | fromunix}}
