- Title:    {{color ",,bold"}}{{.title}}{{color "reset"}}
  URI:      {{color "magenta"}}{{.uri}}{{color "reset"}}
  Email:    {{.email}}
  Version:  {{.version}}
  Description: {{color "blue"}}{{.description | fromhtml}}{{color "reset"}}
