- Account ID: {{color "red"}}{{.id}}{{color "reset"}}
  Following:      {{.following}}
{{- if .showing_reblogs}}
  Showing boosts: {{.showing_reblogs}}{{end}}
  Followed-by:    {{.followed_by}}
  Blocking:       {{.blocking}}
  Muting:         {{.muting}}
  Muting notif.:  {{.muting}}
  Requested:      {{.requested}}
