- Status ID: {{color "red"}}{{.id}}{{color "reset"}}  {{color "magenta"}}@{{.account.acct}}{{color "reset"}}
  Name: {{color ",,bold"}}{{.account.display_name}}{{color "reset"}}
{{- if .pinned}}
  Pinned: {{.pinned}}{{end}}
  Visibility: {{.visibility}}
  Date: {{.created_at | tolocal}}
  URL: {{.url}}
{{- if .reblog }}{{with .reblog}}
  {{color ",,bold"}}Reblogged from: {{color "magenta"}}@{{.account.acct}}{{color "reset"}}
    ID: {{.id}}
    Name: {{color ",,bold"}}{{.account.display_name}}{{color "reset"}}
    Date: {{.created_at | tolocal}}
{{- if .in_reply_to_id}}
    Replying to: {{.in_reply_to_id}}{{end}}
{{- if .sensitive}}
  Sensitive: true{{end}}
{{- with .spoiler_text}}
    Spoiler: {{.}}{{end}}
    Message: {{color "blue"}}{{.content | fromhtml | wrap "       " 79 | trim}}{{color "reset"}}
{{- range .media_attachments}}
    - Attachment ID: {{.id}}
{{- if .description}}
      Description: {{color ",,bold"}}{{.description}}{{color "reset"}}{{end}}
{{- if .text_url}}
      Text URL: {{.text_url}}{{else if .url}}
      URL: {{.url}}{{else if .remote_url}}
      Remote URL: {{.remote_url}}{{end}}{{end}}
{{end}}{{else}}
{{- if .in_reply_to_id}}
  Replying to: {{.in_reply_to_id}}{{end}}
{{- if .sensitive}}
  Sensitive: true{{end}}
{{- with .spoiler_text}}
  Spoiler: {{.}}{{end}}
  Message: {{color "blue"}}{{.content | fromhtml | wrap "     " 79 | trim}}{{color "reset"}}
{{- range .media_attachments}}
  - Attachment ID: {{.id}}
{{- if .text_url}}
    Text URL: {{.text_url}}{{else if .url}}
    URL: {{.url}}{{else if .remote_url}}
    Remote URL: {{.remote_url}}{{end}}{{end}}
{{end -}}
