- Context:
  Ancestors:
{{- range .ancestors}}
  - Status ID: {{color "red"}}{{.id}}{{color "reset"}}  {{color "magenta"}}@{{.account.acct}}{{color "reset"}}
    Name: {{color ",,bold"}}{{.account.display_name}}{{color "reset"}}
    Date: {{.created_at}}
    URL: {{.url}}
{{- if .sensitive}}
    Sensitive: true{{end}}
{{- with .spoiler_text}}
    Spoiler: {{.}}{{end}}
    Message: {{color "blue"}}{{.content | fromhtml | wrap "     " 80 | trim}}{{color "reset"}}
{{- range .media_attachments}}
    - Attachment ID: {{.id}}
{{- if .text_url}}
      Text URL: {{.text_url}}{{else if .url}}
      URL: {{.url}}{{else if .remote_url}}
      Remote URL: {{.remote_url}}{{end}}{{end}}{{end}}
  Descendants:
{{- range .descendants}}
  - Status ID: {{color "red"}}{{.id}}{{color "reset"}}  {{color "magenta"}}@{{.account.acct}}{{color "reset"}}
    Name: {{color ",,bold"}}{{.account.display_name}}{{color "reset"}}
    Date: {{.created_at}}
    URL: {{.url}}
{{- if .sensitive}}
    Sensitive: true{{end}}
{{- with .spoiler_text}}
    Spoiler: {{.}}{{end}}
    Message: {{color "blue"}}{{.content | fromhtml | wrap "     " 80 | trim}}{{color "reset"}}
{{- range .media_attachments}}
    - Attachment ID: {{.id}}
{{- if .text_url}}
      Text URL: {{.text_url}}{{else if .url}}
      URL: {{.url}}{{else if .remote_url}}
      Remote URL: {{.remote_url}}{{end}}{{end}}{{end}}
