- Notification ID: {{color "red"}}{{.id}}{{color "reset"}}
  Type: {{color ",,bold"}}{{.type}}{{color "reset"}}
  Timestamp: {{.created_at | tolocal}}
{{- with .url}}
      URL: {{.url}}{{end}}
{{- with .account}}
  - Account: ({{.id}}) {{color "magenta"}}@{{.acct}}{{color "reset"}}{{if .display_name}} - {{color "white,,bold"}}{{.display_name}}{{color "reset"}}{{end}}{{end}}
{{- with .status}}
  - Status ID: {{color "red"}}{{.id}}{{color "reset"}}  {{color "magenta"}}@{{.account.acct}}{{color "reset"}}
    Name: {{color ",,bold"}}{{.account.display_name}}{{color "reset"}}
    Visibility: {{.visibility}}
    Date: {{.created_at | tolocal}}
    URL: {{.url}}
{{- if .reblog }}{{with .reblog}}
    {{color ",,bold"}}Reblogged from: {{color "magenta"}}@{{.account.acct}}{{color "reset"}}
      ID: {{.id}}
      Name: {{color ",,bold"}}{{.account.display_name}}{{color "reset"}}
      Date: {{.created_at | tolocal}}
{{- if .in_reply_to_id}}
      Replying to: {{.in_reply_to_id}}{{end}}
{{- if .sensitive}}
      Sensitive: true{{end}}
{{- with .spoiler_text}}
      Spoiler: {{.}}{{end}}
      Message: {{color "green"}}{{.content | fromhtml | wrap "        " 79 | trim}}{{color "reset"}}{{end}}{{else}}
{{- if .in_reply_to_id}}
    Replying to: {{.in_reply_to_id}}{{end}}
{{- if .sensitive}}
  Sensitive: true{{end}}
{{- with .spoiler_text}}
    Spoiler: {{.}}{{end}}
    Message: {{color "green"}}{{.content | fromhtml | wrap "      " 79 | trim}}{{color "reset"}}
{{- range .media_attachments}}
    - Attachment ID: {{.id}}
{{- if .text_url}}
      Text URL: {{.text_url}}{{else if .url}}
      URL: {{.url}}{{else if .remote_url}}
      Remote URL: {{.remote_url}}{{end}}{{end}}{{end}}{{end}}
