- Account ID: {{color "red"}}{{printf "%.0f" .id}}{{color "reset"}}
  Following:    {{.following}}
  Followed-by:  {{.followed_by}}
  Blocking:     {{.blocking}}
  Muting:       {{.muting}}
  Requested:    {{.requested}}
