- Account ID: {{color "red"}}{{.id|printf "%.0f"}}{{color "reset"}}  {{color "magenta"}}@{{.username}}{{color "reset"}}
  UID: {{color "red"}}{{.acct}}{{color "reset"}}
  Display name: {{color "white,,bold"}}{{.display_name}}{{color "reset"}}
  Date: {{.created_at}}
  URL: {{color "cyan"}}{{.url}}{{color "reset"}}
  Statuses: {{.statuses_count}}
  Followers: {{.followers_count}}
  Following: {{.following_count}}
{{- with .note}}{{if ne . "<p></p>"}}
  Note: {{. | fromhtml}}{{end}}{{end}}
{{- if eq .locked true}}
  Locked: true{{end}}
