- Status ID: {{"\x1b[31m"}}{{.id}}{{"\x1b[0m"}}  {{"\x1b[35m"}}@{{.account.acct}}{{"\x1b[0m"}}
  Name: {{"\x1b[1m"}}{{.account.display_name}}{{"\x1b[0m"}}
  Date: {{.created_at}}
  URL: {{.url}}
{{- if gt .in_reply_to_id 0.0}}
  Replying to: {{.in_reply_to_id}}{{end}}
{{- with .spoiler_text}}
  Spoiler: {{.}}{{end}}
{{- if .reblog }}{{with .reblog}}
  {{"\x1b[1m"}}Reblogged from: {{"\x1b[34;1m"}}@{{.account.acct}}{{"\x1b[0m"}}
    ID: {{.id}}
    Name: {{"\x1b[1m"}}{{.account.display_name}}{{"\x1b[0m"}}
    Date: {{.created_at}}
    Message: {{"\x1b[34m"}}{{.content | fromhtml}}{{"\x1b[0m"}}
{{end}}{{else}}
  Message: {{"\x1b[34m"}}{{.content | fromhtml}}{{"\x1b[0m"}}
{{end -}}
