- Account ID: {{"\x1b[31m"}}{{.id}}{{"\x1b[0m"}}  {{"\x1b[35m"}}@{{.username}}{{"\x1b[0m"}}
  UID: {{"\x1b[31m"}}{{.acct}}{{"\x1b[0m"}}
  Display name: {{"\x1b[1m"}}{{.display_name}}{{"\x1b[0m"}}
  Date: {{.created_at}}
  URL: {{"\x1b[36m"}}{{.url}}{{"\x1b[0m"}}
  Statuses: {{.statuses_count}}
  Followers: {{.followers_count}}
  Following: {{.following_count}}
{{- with .note}}
  Note: {{. | fromhtml}}{{end}}
{{- if eq .locked true}}
  Locked: true{{end}}
