- Notification ID: {{color "red"}}{{.id|printf "%.0f"}}{{color "reset"}}
  Type: {{color ",,bold"}}{{.type}}{{color "reset"}}
  Timestamp: {{.created_at}}
{{- with .url}}
      URL: {{.url}}{{end}}
{{- with .account}}
  - Account: ({{.id|printf "%.0f"}}) {{color "magenta"}}@{{.acct}}{{color "reset"}}{{if .display_name}} - {{color "white,,bold"}}{{.display_name}}{{color "reset"}}{{end}}{{end}}
{{- with .status}}
  - Status ID: {{color "red"}}{{.id|printf "%.0f"}}{{color "reset"}}  {{color "magenta"}}@{{.account.acct}}{{color "reset"}}
    Name: {{color ",,bold"}}{{.account.display_name}}{{color "reset"}}
    Date: {{.created_at}}
    URL: {{.url}}
{{- if gt .in_reply_to_id 0.0}}
    Replying to: {{.in_reply_to_id}}{{end}}
{{- with .spoiler_text}}
    Spoiler: {{.}}{{end}}
{{- if .reblog }}{{with .reblog}}
    {{color ",,bold"}}Reblogged from: {{color "magenta"}}@{{.account.acct}}{{color "reset"}}
      ID: {{.id|printf "%.0f"}}
      Name: {{color ",,bold"}}{{.account.display_name}}{{color "reset"}}
      Date: {{.created_at}}
      Message: {{color "blue"}}{{.content | fromhtml}}{{color "reset"}}{{end}}{{else}}
    Message: {{color "blue"}}{{.content | fromhtml}}{{color "reset"}}
{{- range .media_attachments}}
    - Attachment ID: {{.id|printf "%.0f"}}
{{- if .text_url}}
      Text URL: {{.text_url}}{{else if .url}}
      URL: {{.url}}{{else if .remote_url}}
      Remote URL: {{.remote_url}}{{end}}{{end}}{{end}}{{end}}
